@import "../../styles/breakpoints";

.featured {
  margin-top: 4rem;

  @include respondMax("tablet") {
    margin-top: 6rem;
  }

  &__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 420px);
    column-gap: 1.5rem;
    row-gap: 1.5rem;

    @include respondMax("tablet") {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
    }
  }

  &__item {
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background-position: top;
    background-size: cover;
    animation: zoomOut 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;

    &:hover {
      animation: zoomIn 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
    }

    @include respondMax("tablet") {
      grid-row: unset !important;
      height: 450px;
      background-position: center;
    }

    &:nth-child(1) {
      grid-row: 1/3;
      align-items: center;
    }

    &:nth-child(2) {
      grid-row: 1/2;
      align-items: flex-end;
    }

    &:nth-child(3) {
      grid-row: 1/3;
      align-items: center;
    }

    &:nth-child(4) {
      grid-row: 2/3;
      align-items: flex-end;
    }

    &-label {
      font-size: 1.7rem;
      margin: 0;

      @include respondMax("tablet") {
        font-size: 1.2rem;
      }
    }
  }

  &__cta {
    margin: 4rem 0 0;

    @include respondMax("tablet") {
      display: grid;
      place-items: center;
    }
  }
}
