.featured {
  margin-top: 4rem;

  &__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
  }

  &__item {
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    padding: 1.5rem;
    display: flex;
    justify-content: center;

    &-text {
      font-size: 1.7rem;
    }
  }

  &__item:nth-child(1) {
    grid-row: 1/3;
    align-items: center;
    background-image: url("../../assets/images/featured-one.png");
  }

  &__item:nth-child(2) {
    grid-row: 1/2;
    align-items: flex-end;
    background-image: url("../../assets/images/featured-two.png");
  }

  &__item:nth-child(3) {
    grid-row: 1/3;
    align-items: center;
    background-image: url("../../assets/images/featured-three.png");
  }

  &__item:nth-child(4) {
    grid-row: 2/3;
    align-items: flex-end;
    background-image: url("../../assets/images/featured-four.png");
  }
}
